<nav class="nav-bar">
  <%= link_to "MuttWhat", root_path, class: "muttwhat" %>
  <div class="nav-link-list">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
      <%= link_to "Log Out", logout_path, class: "nav-link" %>
    <% else %>
      <%= link_to "Log In", "#", class: "nav-link", data: {open: "login-modal"} %>
      <%= link_to "Sign Up", "#", class: "nav-link", data: {open: "signup-modal"} %>
    <% end %>
  </div>

  <%= render "users/new" %>
  <%= render "sessions/new" %>
</nav>